@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 210, 210, 210;
  --background-end-rgb: 150, 150, 150;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .border-1 {border-width: 1px;}
  .border-t-1 {border-top-width: 1px;}
  .border-r-1 {border-right-width: 1px;}
  .border-b-1 {border-bottom-width: 1px;}
  .border-y-1 {border-width: 1px 0px 1px 0px;}
  .border-tl-1 {border-width: 1px 0px 0px 1px;}
  .border-rbl-1 {border-width: 0px 1px 1px 1px;}
  .border-trl-1 {border-width: 1px 1px 0px 1px;}
  .border-trb-1 {border-width: 1px 1px 1px 0px;}
  .border-tbl-1 {border-width: 1px 0px 1px 1px;}
  .bg-slate-250 {background-color: rgb(215 221 232);}
  .bg-stone-250 {background-color: rgb(240, 232, 232);}
  .bg-sky-250 {background-color: rgb(155, 221, 252);}
  .h-flow {flex-flow: row wrap;}

  .disabled-link { pointer-events: none; }

  .place-type-visible {
    visibility: visible;
    overflow: hidden;
    opacity: 1;
    height: 168px;
    transition:  height 0.3s linear, opacity 0.3s linear;
  }
  .place-type-hidden {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    height: 0px;
    transition: visibility 0s 0.3s, height 0.3s linear, opacity 0.3s linear;
  }
}
